{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}  


    <header class="site-category">
      {% assign categories = "" | split: ',' %}

      {% assign all_categories = site | map: "categories" %}


      {% for a in site.category_list %}

        {% if site.categories[a] %}
          {{ a }} {{ site.categories[a].size }}
        {% endif %}

      {% endfor %}

      <!-- {% for item in site.categories %}
      {{ item.category }}
      {% endfor %} -->
      <!--       {{ site.categories.TEST.size }} -->


      <!-- {% assign pages_list = site.posts %}
      {{ pages_list[0].categories }} -->
      <ul>
        <!-- {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "category" %}
              <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
              href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %} -->
        
      </ul>
    </header>
    
  </div>
  
{% endif %}



